/* p{
    margin: 5px;
    border: 6px;
    padding: 2px;
    height: 10px;
    width: 7px;
} 
hr{
    margin: 50px;
    border: 20px solid black;
    padding: 20px;
    height: 100px;
    width: 70px;  
    
} */
/* #box1 {
    margin: 50px;
    border: 10px solid black;
    padding: 20px;
    height: 100px;
    width: 70px;
}*/
span{
    margin: 50px;
    border: 10px solid black;
    padding: 20px;
    height: 100px;
    width: 70px;

}