strong{
    margin: 5px;
    border: 2px;
    padding: 3px;
    height: 30px;
    width: 20px;
}
em{
     margin: 6px;
    border: 3px;
    padding: 2px;
    height: 20px;
    width: 10px;
}
abbr{
      margin: 8px;
    border: 5px;
    padding: 3px;
    height: 25px;
    width: 15px;
}
address{
     margin: 6px;
    border: 3px;
    padding: 2px;
    height: 10px;
    width: 10px;
}