pre{
     margin: 6px;
    border: 3px;
    padding: 2px;
    height: 10px;
    width: 10px;
}
def{
      margin: 4px;
    border: 2px;
    padding: 3px;
    height: 20px;
    width: 30px;
}
code{
     margin: 5px;
    border: 2px;
    padding: 2px;
    height: 15px;
    width: 20px;
}
del{
     margin: 3px;
    border: 2px;
    padding: 4px;
    height: 18px;
    width: 15px;
}
ins{
   margin: 2px;
    border: 4px;
    padding: 6px;
    height: 15px;
    width: 12px; 
}
sub{
    margin: 4px;
    border: 4px;
    padding: 2px;
    height: 10px;
    width: 10px; 
}
sup{
     margin: 3px;
    border: 4px;
    padding: 5px;
    height: 20px;
    width: 20px; 
}
bdo{
      margin: 5px;
    border: 6px;
    padding: 2px;
    height: 10px;
    width: 15px; 
}
