/* h1{
margin: 5px;
border: 5px;
padding: 3px;
height: 8px;
width: 8px;
} 
h2{
     margin: 5px;
border: 5px;
padding: 3px;
height: 8px;
width: 8px;

}

  h3{
    margin: 5px;
border: 5px;
padding: 3px;
height: 8px;
width: 8px;

}  
 

   h4{
    margin: 6px;
border: 7px;
padding: 3px;
height: 5px;
width: 5px;

}  

 h5{
    margin: 6px;
border: 7px;
padding: 3px;
height: 5px;
width: 5px;

}  */
 h6{
 margin: 8px;
border: 2px;
padding: 4px;
height: 7px;
width: 10px;

} 

  